@use 'index' as v;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  user-select: none;
}

html {
  position: relative;
  font-size: 100%;
}

body,
html {
  overflow: hidden;
  width: 100%;
  height: 100%;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
span,
li,
button {
  color: unset;
  text-decoration: none !important;
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  overflow-x: hidden;
  background: v.$section1-bg;
  width: 100%;
  height: 100%;
  scrollbar-width: thin;
  scrollbar-color: #1c1d2575 #CCC;
  &::-webkit-scrollbar{
    width: 7px;
}
&::-webkit-scrollbar-thumb{
    background-color: #1c1d2575;
    border-radius: 10px;
}
  .section1{
    background-color: v.$section1-bg;
  }
  .section2{
    background-color: v.$section2-bg;
    p, dd{
      color: v.$bg-color;
    }
  }
  hr{
  
    border: 0;
    height: 1px;
    width: 30%;
    position: relative;
    margin: 30px auto;
    
    
    &.center-ball{
      background: v.$primary-color;
      
      &:before{
        content: "";
        width: 6px;
        height: 6px;
        background: v.$primary-color;
        display: inline-block;
        border: 2px solid v.$primary-color;
        border-radius: 50%;
        position: absolute;
        top: -4px;
        left: 50%;
        margin: 0 0 0 -3px;
      }
    }
    
    &.center-diamond{
      background: v.$primary-color;
      
      &:before{
        content: "";
        width: 6px;
        height: 6px;
        background: v.$primary-color;
        display: inline-block;
        border: 2px solid v.$primary-color;
        position: absolute;
        top: -5px;
        left: 50%;
        margin: 0 0 0 -3px;
        transform:rotate(45deg);
        -ms-transform:rotate(45deg); /* IE 9 */
        -webkit-transform:rotate(45deg); /* Opera, Chrome, and Safari */
      }
    }
    
    &.center-square{
      background: v.$primary-color;
      
      &:before{
        content: "";
        width: 6px;
        height: 6px;
        background: v.$primary-color;
        display: inline-block;
        border: 2px solid v.$primary-color;
        position: absolute;
        top: -5px;
        left: 50%;
        margin: 0 0 0 -3px;
      }
    }
  }
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* .bg-gradient{
  background:-moz-radial-gradient(circle at 8% 25%, rgba(88, 86, 86, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background:-webkit-radial-gradient(circle at 8% 25%, rgba(88, 86, 86, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background:-o-radial-gradient(circle at 8% 25%, rgba(88, 86, 86, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background:-ms-radial-gradient(circle at 8% 25%, rgba(88, 86, 86, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background:radial-gradient(circle at 8% 25%, rgba(88, 86, 86, 1) 0%, rgba(0, 0, 0, 1) 100%);
}  */

.ailerons {
  font-family: 'Abel';
}
.manrope {
  font-family: 'Manrope';
}
.inter {
  font-family: 'Inter';
}