@use 'index' as v;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
html{
  position: relative;
  font-size: 100%;
}
body, html{
  overflow: hidden;
  width: 100%;
  height: 100%;
  line-height: 1.5;
}
h1, h2, h3, h4, h5, p, a, span, li, button{
  color: unset;
  text-decoration: none;
}
#root{
  width: 100%;
  height: 100%;
}
.App{
  overflow: hidden;
  background: v.$bg-color;
  width: 100%;
  height: 100%;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* .bg-gradient{
  background:-moz-radial-gradient(circle at 8% 25%, rgba(88, 86, 86, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background:-webkit-radial-gradient(circle at 8% 25%, rgba(88, 86, 86, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background:-o-radial-gradient(circle at 8% 25%, rgba(88, 86, 86, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background:-ms-radial-gradient(circle at 8% 25%, rgba(88, 86, 86, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background:radial-gradient(circle at 8% 25%, rgba(88, 86, 86, 1) 0%, rgba(0, 0, 0, 1) 100%);
}  */

.aileron{
  font-family: 'Ailerons';
}