main.regSec{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
        .progressBar{
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 0.5rem;
            .line{
                background-color: #9E9E9E;
                width: 60%;
                height: 2px;
                position: absolute;
            }
            h1{
                color: #9E9E9E;
                font-size: 2.8rem;
                margin: 2rem 0;
                font-weight: 700;
            }
            span.points{
                background-color: rgb(255, 255, 255);
                border: 2px solid rgb(118, 201, 250);
                color: black;
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1rem;
                font-weight: 700;
                z-index: 10;
            }
            span.pass{
                background-color: rgb(162, 163, 164);
                border: none;
                color: white;
            }
            span.active{
                background-color: rgb(0, 162, 255);
                border: none;
                color: white;
            }
        }
        .pasos{
            margin-top: 1rem;
            form{
                width: 30rem;
                height: 25rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            &#NAD{
                display: flex;
            }
            &#TCC, &#Confirm{
                display: none;
            }
            &.active{
                display: flex !important;
            }
            input{
                width: 13rem;
                height: 3rem;
                border-bottom: 2px solid rgb(206, 206, 206);
                border-left:none;
                text-align: center;
                font-size: 1.2rem;
                padding: 1rem 1em 1em 1em;
            }
            input:focus::placeholder, input:focus{
                color: var(--color-primary);
            }
            .form-cont{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                margin-top: 1rem;
            }
            .form-cont div img{
                position: absolute;
                width: 2rem;
                height: 3rem;
                border-bottom: 2px solid rgb(206, 206, 206);
                margin-left: 5px; 
            }
            small{
                margin-top: 2rem;
                font-size: 0.9rem;
            }
            a, form small span{
                font-weight: 600;
                color: rgb(226, 140, 19);
                cursor: pointer;
            }
            &#Confirm form{
                justify-content: inherit;
            }
            &#Confirm .form-cont{
                display: flex;
                align-items: flex-start;
                justify-content: center;
                margin-top: 1rem;
            }
            &#Confirm .form-cont input{
                width: 6.5rem;
            }
            &#Confirm .form-cont input:first-of-type{
                width: 5.5rem;
                text-align: right;
                padding-right: 0;
            }
            &#Confirm .form-cont span{
                width: 2rem;
                height: 3rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-bottom: 2px solid rgb(206, 206, 206);
            }
            &#Confirm .form-cont input:last-child{
                width: 5.5rem;
                text-align: left;
                padding-left: 0;
            }
        }
    }

/* ---------------------------------- forms  ---------------------------------- */
.form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.form-label {
	display: flex;
    justify-content: flex-start;
	font-weight: 500;
    font-size: 1.25rem;
	padding: 10px;
	cursor: pointer;
}


.form-input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 10px;
	transition: .3s ease all;
}
.form-input::placeholder{
    opacity: 40%;
}
.form-input:focus::placeholder{
    opacity: 100%;
}

.form-input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.form-input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.form-input-error-active {
	display: block;
}

.form-validation-state {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.form-checkbox {
	margin-right: 10px;
}

.form-cont-terms, 
.form-message,
.form-cont-btn-submit {
	grid-column: span 2;
}

.form-message {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.form-message-active {
	display: block;
}

.form-message p {
	margin: 0;
}

.form-cont-btn-submit {
	display: flex;
	flex-direction: column;
	align-items: center;
    width: 50%;
}

.form-btn, .form-btn:after {
    width: 100%;
    height: 4rem;
    font-size: 1.2rem;
    background: var(--color-primary);
    border-radius: 2rem;
    font-weight: 700;
	line-height: 45px;
	color: #fff;
	border: none;
	cursor: pointer;
	transition: .25s ease all;
}

.form-btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
    background-color: #ffc000;
    cursor: pointer;
    transition: .25s ease all;
}

.form-message-success {
	font-size: 14px;
	color: #119200;
	display: none;
}

.form-message-success-active {
	display: block;
}

/* ----- -----  Estilos para validation ----- ----- */
.form-cont-correct .form-validation-state {
	color: #1ed12d;
	opacity: 1;
}

.form-cont-incorrect .form-label {
	color: #bb2929;
}

.form-cont-incorrect .form-validation-state {
	color: #bb2929;
	opacity: 1;
}

.form-cont-incorrect .form-input {
	border: 3px solid #bb2929;
}


/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
	.form {
		grid-template-columns: 1fr;
	}

	.form-cont-terms, 
	.form-message,
	.form-cont-btn-submit {
		grid-column: 1;
	}

	.form-btn {
		width: 100%;
	}
}