/* Colores */

main.regSec{
    --pointSize: 3rem;
    --titleColor: #9E9E9E;
    --smallSize: 1.5rem;
    --submitWidth: 15rem;
    --submitHeight: 5rem;
    --labelColor: #9E9E9E;
    --inputHeight: 5rem;
}

/* Estilo */

main.regSec{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e5e5e5;
        /* Barra de Progreso */
        .progressBar{
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 2rem;
            .line{
                background-color: #9E9E9E;
                width: 60%;
                height: 2px;
                position: absolute;
            }
            span.points{
                background-color: #fff;
                border: 2px solid var(--backColor);
                color: black;
                width: var(--pointSize);
                height: var(--pointSize);
                font-size: calc(var(--pointSize) / 2);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 700;
                z-index: 10;
            }
            span.pass{
                background-color: rgb(162, 163, 164);
                border: none;
                color: white;
            }
            span.active{
                background-color: var(--backColor);
                border: none;
                color: white;
            }
        }
        /* Titulo */
        h1{
            font-size: 5rem;
            color: var(--titleColor);
            margin-bottom: 0;
        }
        /* Distintos Formularios */
        .pasos{
            /* Desactivo y activo el primer formulario */
            &#NAD{
                display: flex;
            }
            &#TCC, &#Confirm{
                display: none;
            }
            &.active{
                display: flex !important;
            }
            /* --- */
            small{
                margin-top: 2rem;
                font-size: var(--smallSize);
            }
            a{
                font-weight: 600;
                color: var(--primaryColor);
                cursor: pointer;
            }

            /* Estilo de Formulario */
            form{
                display: flex;
                flex-direction: column;
                align-items: center;
                label{
                    font-size: 1.8rem;
                    color: var(--labelColor);
                    margin-top: 3rem;
                }
                div.input{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #fff;
                    border-radius: .5rem;
                    width: max-content;
                    height: var(--inputHeight);
                    span{
                        width: calc(var(--inputHeight));
                        height: calc(var(--inputHeight));
                        font-size: calc(var(--inputHeight) - 1rem);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        color: #909497;
                        order: 1;
                    }
                    input{
                        width: max-content;
                        background-color: #fff;
                        border-radius: .5rem;
                        height: calc(var(--inputHeight) / 2rem * 2);
                        border: none;
                        padding: calc(var(--inputHeight) / 4);
                        font-size: calc(var(--inputHeight) / 2.75);
                        outline: none;
                        order: 2;
                    }
                    input::placeholder{
                        color: #909497;
                    }
                }
                div.input input:focus{
                    color: var(--backColor);
                    &::placeholder{
                        color: var(--backColor);
                    }
                    & ~ span{
                        color: var(--backColor);
                    }
                }
                div#ConfirmInputContainer{
                    margin-bottom: 4rem;
                    input{
                        width: 7rem;
                    }
                    input[type=number]::-webkit-inner-spin-button, 
                    input[type=number]::-webkit-outer-spin-button { 
                    -webkit-appearance: none; 
                    margin: 0; 
                    }
                    input:nth-child(1){
                        text-align: center;
                        justify-content: end;
                    }
                    input::before{
                        content: '-';
                    }
                    input:nth-child(3){
                        display: flex;
                        text-align: center;
                    }
                }
            }
            small{
                margin: 2rem auto;
            }
            button[type='submit'], input[type='submit']{ /* Submit */
                background: var(--primaryColor);
                border: none;
                color: #fff;
                width: var(--submitWidth);
                height: var(--submitHeight);
                font-size: 2rem;
                border-radius: 2rem;
                margin: 0 auto;
                transition: all 300ms ease;
                transition: .25s ease all;
                cursor: pointer;
            }
            button[type='submit']:hover, input[type='submit']{
                background: var(--primaryColor);
                filter: contrast(80%);
            }
        }
        /* Pavada */
        .pasos.code{
            small span{
                font-weight: 600;
                color: var(--primaryColor);
                cursor: help;
            }
        }
    }

    /* Modo oscuro */

    body.dark{
        main.regSec{
            background-color: var(--dark);
            h1{
                color: #ededed;
            }
            small{
                color: rgb(216, 216, 216);
            }
            button[type='submit']{ /* Submit */
                background: var(--primaryColorDark);
            }
            small a{
                color: var(--primaryColorDark) !important;
            }
        }    
    }