@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvendo a nuestro horrible homebanking</h1>
    <p>sacaremos info  de aca <a href="https://docs.microsoft.com/aspnet/core">blablabla.com</a>.</p>
</div>
