.passwordContainer {
  display: flex;
  width: fit-content;
  padding: 0 1rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  input#passwordShowInput {
    width: 70%;
    border: none;
    order: 2;
    &:focus {
      outline: none;
    }
  }
  #showBTN {
    width: 20%;
    height: 2rem;
    display: flex;
    order: 3;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding: 0.75rem;
    user-select: none;
    cursor: pointer;
    &::before {
      content: "visibility";
    }
    &.clicked:before {
      content: "visibility_off";
      color: var(--backColor);
    }
    &.clicked ~ input#passwordShowInput {
      color: var(--backColor);
    }
  }
}
