/* ---------------------------------- Colores ---------------------------------- */

:root {
  --color-primary: #ffc04f;
  --color-primary-dark: #cda434;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #e5e5e5;

  --color-money: #85bb65;
  --color-graph: #00aae4;
  --color-black: #1c1c1c;
  --color-menu-dark: #2c2c2c7a;
  --color-menu-option-dark: #2c2c2c7a;
  --color-menu-bluedark: #212529;
  --bg-nav-blur: #21252920;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(var(--color-light));
  --transition: all 200ms ease;
}

/* ---------------------------------- Asidebar ---------------------------------- */
section#Panel {
  transition: var(--transition);
  display: grid;
  margin: 0 auto;
  gap: 4.35556rem;
  grid-template-columns: 21.77778rem auto;

  /* Global */

  height: 100%;
  padding: 0 2% 0 2%;
  font-family: Poppins, sans-serif;
  background-color: var(--color-background);
  user-select: none;
  overflow-x: hidden;
  * {
    margin: 0;
    padding: 0;
    outline: none;
    appearance: none;
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  p {
    font-size: 1.4rem;
  }
  a {
    color: var(--color-dark);
  }
  img {
    display: block;
    width: 100%;
  }
  h1 {
    font-weight: 800;
    font-size: 2.8rem;
  }
  h2 {
    font-size: 2.17778rem;
  }
  h3 {
    font-size: 1.35333rem;
  }
  h4 {
    font-size: 1.24444rem;
  }
  h5 {
    font-size: 1.19778rem;
  }
  small {
    font-size: 1.16667rem;
  }
  .profile-photo {
    width: 4.35556rem;
    height: 4.35556rem;
    border-radius: 50%;
    overflow: hidden;
  }
  .text-muted {
    color: var(--color-info-dark);
  }
  p {
    color: var(--color-dark-variant);
  }
  b {
    color: var(--color-dark);
  }
  .primary {
    color: var(--color-primary);
  }
  .danger {
    color: var(--color-danger);
  }
  .success {
    color: var(--color-success);
  }
  .warning {
    color: var(--color-warning);
  }
  .money {
    color: var(--color-money) !important;
  }

  aside {
    width: 100%;
    height: 100vh;
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 2.17778rem;
    }
    .logo {
      display: flex;
      gap: 1.24444rem;
      img {
        width: 3.11111rem;
        height: 3.11111rem;
      }
      h2 {
        display: flex;
        align-items: center;
        font-weight: 800;
      }
    }
    .close {
      display: none;
    }
    .sidebar {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 86vh;
      position: relative;
      top: 4.66667rem;
    }
    h3 {
      font-weight: 500;
    }
    .sidebar {
      button,
      a {
        display: flex;
        background: none;
        color: var(--color-info-dark);
        margin-left: 3.11111rem;
        gap: 1.55556rem;
        cursor: pointer;
        align-items: center;
        position: relative;
        height: 5.75556rem;
        transition: all 300ms ease;
        span {
          font-size: 2.48889rem;
        }
        &:last-child {
          position: absolute;
          bottom: 3.11111rem;
          width: 100%;
        }
        &.active {
          background: var(--color-light);
          color: var(--color-primary);
          margin-left: 0;
          &::before {
            content: "";
            width: 6px;
            height: 100%;
            background: var(--color-primary);
          }
          span {
            color: var(--color-primary);
            margin-left: calc(1.55555555556rem - 6px);
          }
        }
        &:hover {
          color: var(--color-primary);

          span {
            margin-left: 1.55555555556rem;
          }
        }
      }
      .notf-count {
        background: var(--color-danger);
        color: var(--color-white);
        padding: 2px 16px;
        font-size: 1.2rem !important;
        border-radius: var(--border-radius-1);
      }
    }
  }

  /* ---------------------------------- main ---------------------------------- */

  main.panelMain {
    margin-top: 1.55555555556rem;
    .saludo h1 span {
      text-decoration: underline;
    }
    .contentPanelMain {
      margin-top: 3rem;
      width: 100%;
      height: calc(100% - 2.8rem - 1.55555555556rem - 3rem);
    }
  }

  /* ---------------------------------- Right ---------------------------------- */

  .profileTop {
    display: flex;
    position: absolute;
    top: 2rem;
    right: 2rem;
    justify-content: flex-end;
    gap: 3.11111111112rem;
    button {
      display: none;
    }
    .theme-toggle {
      background: var(--color-light);
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 2.4888888889rem;
      width: 6.53333333335rem;
      cursor: pointer;
      border-radius: var(--border-radius-1);
      span {
        font-size: 1.86666666667rem;
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        &#lightButton {
          background-color: var(--color-primary);
          color: white;
          border-radius: var(--border-radius-1);
        }
      }
    }
    .profile {
      display: flex;
      gap: 3.11111111112rem;
      text-align: right;
      b {
        margin: 3.11111111112rem 0 3.11111111112rem 0;
        color: transparent;
        font-family: "saludo";
        background-image: url(./assets/gif/background-text.gif); /* Alguien tiene que buscar un fondo para esa letra (no me da el internet x'd) */
        background-position: center;
        -webkit-background-clip: text;
      }
    }
  }
}

/* Modo Oscuro */

body.dark {
  section#Panel {
    background-color: #1b2631;
  }
  .theme-toggle {
    span {
      &#lightButton {
        background-color: unset !important;
        color: var(--color-dark-variant) !important;
        border-radius: none !important;
      }
      &#darkButton {
        background-color: var(--color-primary);
        color: white;
        border-radius: var(--border-radius-1);
      }
    }
  }
}
