main.logSec{
    display: flex;
    background-color: var(--backColor);
    .particles{
        position: fixed;
        width: 70%;
        height: 200%;
        z-index: 1;
        background: url(assets/particles.png);
        background-position: left;
        animation: backgroundParticles 3s linear infinite alternate;
        filter: blur(0.2rem);
    }
    #bg{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;
        height: 100vh;
        color: #fff;
        user-select: none;
        .text{
            width: 100%;
            z-index: 10;
            display: flex;
            flex-direction: column;
            h1{
                font-size: 3rem;
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 900;
                margin-bottom: 5rem;
            }
            i, p{
                margin: 0.5rem;
                margin-left: 3rem;
                text-align: center;
                font-size: 2.4rem;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 600;
            }
            a{
                color: white;
                text-decoration: none;
                background-color: rgb(0, 0, 0);
                border-radius: 1rem;
                padding: 1.2rem 2rem;
                font-size: 2.4rem;
                margin: 0 auto;
                margin-top: 3rem;
                transition: all 300ms ease;
            }
            a:hover{
                background-color: #2e2d2b;
            }
        }
    }
    .Login{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;
        height: 100vh;
        .background{
            background-color: white;
            width: 60%;
            height: 200%;
            position: absolute;
            position: fixed;
            z-index: 2;
            transform: rotate(15deg);
            right: -10rem;
        }
        h1{
            font-size: 5rem;
            margin-bottom: 2.5rem;
            z-index: 3;
        }
        form{
            display: flex;
            flex-direction: column;
            z-index: 3;
            label{
                font-size: 1.2rem;
            }
            div.input{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #E5E7E9;
                border-radius: .5rem;
                margin-bottom: 3rem;
                span{
                    width: 7rem;
                    height: 7rem;
                    font-size: 4rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #909497;
                    order: 1;
                }
                input{
                    width: max-content;
                    background-color: #E5E7E9;
                    border-radius: .5rem;
                    height: 3rem;
                    border: none;
                    padding: 1rem;
                    font-size: 2rem;
                    outline: none;
                    order: 2;
                }
                input::placeholder{
                    color: #909497;
                }
            }
            div.input:nth-child(4){
                margin-bottom: 0;
            }
            div.input input:focus{
                color: var(--backColor);
                &::placeholder{
                    color: var(--backColor);
                }
                & ~ span{
                    color: var(--backColor);
                }
            }
            div.check{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 1rem;
                margin-bottom: 5rem;
                font-size: 1.4rem;
                input{
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    cursor: pointer;
                    width: 2rem;
                    height: 2rem;
                }
                input::before{
                    content: 'Recordarme';
                    margin-left: 2.5rem;
                }
                a{
                    color: var(--backColor);
                }
            }
            input[type='submit']{
                background-color: var(--backColor);
                border: none;
                color: #fff;
                width: 15rem;
                height: 5rem;
                font-size: 2rem;
                border-radius: 2rem;
                margin: 0 auto;
                transition: all 300ms ease;
                cursor: pointer;
            }
            input[type='submit']:hover{
                filter: brightness(120%);
            }
        }
    }
}
@keyframes backgroundParticles {
    0%{
        top: -5%;
        left: -2%;
    }
    100%{
        top: 0;
        left: 0;
    }
}


/* Modo oscuro */

body.dark{
    main.logSec{
        .Login{
            .background{
                background-color: #1f1f1f;
            }
        }
        form{
            div.input{
                background-color: #c8c8c8;
                input{
                    background-color: #c8c8c8;
                }
            }
            div.check{
                input::before{
                    content: 'Recordarme';
                    margin-left: 2.5rem;
                    color: white;
                }
            }
        }
    }
}