/* Defino Colores Menu */

:root{
    --colorOption-Menu: #ECF0F1;
    --buttonMenuLog-Menu: #F4D03F;
    --buttonMenuLogHover-Menu: #F7DC6F;
}

/* Nav */

nav#home{
    user-select: none;
    display: flex;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1000;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    background-color: transparent;
    img{
        width: 7rem;
        pointer-events: none;
    }
    .optionMenu{
        display: flex;
        flex-direction: row;
        gap: 3rem;
        a{
            font-size: 1.7rem;
            color: var(--colorOption-Menu);
            transition: all 500ms ease;
            text-decoration: none;
        }
        a:hover{
            text-decoration: underline;
            font-size: 1.9rem;
        }
    }
    .finalOptions{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
        a{
            font-size: 2rem;
            background-color: var(--primaryColor);
            color: var(--white);
            padding: 1rem 2rem;
            border-radius: 1rem;
            font-weight: 900;
            transition: all 200ms linear;
            text-decoration: none;
        }
        a:hover{
            background-color: var(--buttonMenuLog-Menu);
        }
        span{
            color: var(--colorOption-Menu);
            cursor: pointer;
            font-weight: 900;
            font-size: 3rem;
        }
        span::before{
            content: 'dark_mode';
        }
        span.clicked::before{
            content: 'light_mode';
        }
        span:hover{
            color: #1f1f1f;
            transition: all 300ms ease;
        }
    }
}

/* Responsive */
@media screen and (max-width: 1001px){
    nav#home{
        justify-content: space-between;
        .optionMenu{
            display: none;
        }
    }
}

/* Dark Mode */

body.dark{
    nav#home{
        .finalOptions{
            a{
                background-color: var(--primaryColorDark);
            }
        }
    }
}