header{
    .Header{
        user-select: none;
        pointer-events: none;
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;
        transition: background .3s ease;
        background-color: var(--backColor);
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 50% 50%;
        .text{
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 90;
            h1{
                font-size: 8rem;
                color: var(--primaryColor);
                margin-bottom: 3rem;
            }
            p{
                font-size: 2.5rem;
                color: #fff;
                span{
                    color: var(--primaryColor);
                    font-weight: bold;
                }
            }
        }
        .img{
            img{
                width: 100rem;
                position: absolute;
                right: -15rem;
                top: 12rem;
                z-index: 50;
                transition: all 300ms ease;
            }
            img.dark{
                display: none;
            }
            .blob{
                width: 100rem;
                height: 100rem;
                top: 0;
                right: 0;
                position: absolute;
                background: url(../../assets/blob1.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                z-index: 20;
                animation: rightLeft 5s linear infinite alternate;
            }
        }
    }
    .Wave{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        transition: background .3s ease;
        background: url(../../assets/headerWave.png);
        background-size: 1000px 100px;
    }
    .Wave1{
        animation: animate 15s linear infinite alternate;
        z-index: 100;
        opacity: 1;
        animation-delay: 0s;
        bottom: 0;
    }
    .Wave2{
        animation: animate 15s linear infinite alternate;
        z-index: 99;
        opacity: .5;
        animation-delay: -5s;
        bottom: 10px;
    }
    .Wave3{
        animation: animate 30s linear infinite alternate;
        z-index: 98;
        opacity: .2;
        animation-delay: -2s;
        bottom: 15px;
    }
    .Wave4{
        animation: animate 5s linear infinite alternate;
        z-index: 97;
        opacity: .7;
        animation-delay: -2s;
        bottom: 2px;
    }
}

/* Animaciones */

@keyframes animate {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 1000px;
    }
}
@keyframes rightLeft {
    0%{
        top: 2rem;
        right: 2rem;
    }
    50%{
        top: 0;
        right: 0;
    }
    100%{
        top: -2rem;
        right: 2rem;
    }
}

/* Responsive */

@media screen and (max-width: 1001px){
    header .Header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: max-content;
        padding-top: 10rem;
        .text{
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 90;
            h1{
                font-size: 8rem;
                color: var(--primaryColor);
            }
            p{
                font-size: 2.5rem;
                color: #fff;
                span{
                    color: var(--primaryColor);
                    font-weight: bold;
                }
            }
        }
        .img{
            width: 100%;
            height: 80rem;
            margin-top: 5rem;
            img{
                position: static;
                width: 100%;
            }
            .blob{
                display: none;
            }
        }
    }
}