  @use '../../index.scss' as v;
  @import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);

  .header {
      height: 100vh;
      position: relative;
    
      #shapes-mask {
          position: absolute;
          overflow: hidden;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transition: opacity 0.25s ease 0.65s;
          z-index: 10;

          svg {
              path {
                  stroke: inherit;
                  fill: none;
              }
          }

          .shapy{
              transition: transform .10s;
          }

          .layer1 {
              position: absolute;
              z-index: 1;
          }

          .layer2 {
              position: absolute;
              z-index: 1;
          }

          .p1 {
              left: 30%;
              top: 20%;
          }

          .p2 {
              left: 90%;
              top: 70%;
          }

          .p3 {
              left: 100%;
              top: 20%;
          }

          .p4 {
              left: 70%;
              top: 20%;
          }

          .p5 {
              left: 5%;
              top: 80%;
          }

          .p6 {
              left: 2%;
              top: 20%;
          }

          .p7 {
              left: 50%;
              bottom: 2%;
          }

          .p8 {
              left: 85%;
              bottom: 4%;
          }

          .p9 {
              left: 20%;
              top: 2%;
          }

          .p10 {
              left: 10%;
              bottom: 2%;
          }

          .p11 {
              left: 90%;
              top: 2%;
          }

          .pink {
              stroke: #f06449;
              fill: none;
          }

          .yellow {
              stroke: #ff0;
              fill: none;
          }

          .aqua {
              stroke: aqua;
              fill: none;
          }
      }

      .brand{
          width: 95%;
          z-index: 5;
          .main-text{
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 0;
              width: 100%;
              z-index: 11;

              .content{
                  width: fit-content;
                  padding-left: 150px;
                .etp-name {
                    font-family: 'Ailerons';
                    width: fit-content;
                    position: relative;
                    font-size: 100px;
                    padding: 0.1em 0;
                    font-weight: 500;
                    color: v.$text-color;
                    overflow: hidden;

                    &:after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 0.05em;
                        background-color: #0066ff;
                        opacity: 1;
                        transform: translate3d(0, 0, 0);
                        transition: opacity 300ms, transform 300ms;
                    }
        
                    &:hover::after,
                    &:focus::after {
                        opacity: 1;
                        transform: translate3d(0, 0, 0);
                    }
                }
          
                .etp-slogan {
                    font-family: 'Share Tech Mono';
                    font-size: 30px;
                    width: fit-content;
                    font-weight: 500;
                    color: v.$text-color;
                    overflow: hidden;
                    border-right: .15em solid orange;
                    white-space: nowrap;
                    letter-spacing: .15em;
                    animation: 
                    typing 3.5s steps(40, end),
                    blink-caret .75s step-end infinite;
          
                    &:before {
                        content: attr(data-before);
                        word-break: break-all;
                        opacity: 0.5;
                    }
          
                    &:after {
                        content: attr(data-after);
                        word-break: break-all;
                        opacity: 0.5;
                    }
                }
              }
          }
      }
      .logo-mask {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 40%;
        transform: translateY(-50%);
        left: 50%;
        z-index: 5;
        img {
            filter: v.$svg-filter;
            opacity: 75%;
            width: 100%;
        }
    }
  }

  @keyframes typing {
    0% { width: 0 }
    15% { width: 0; }
    100% { width: 100% }
  }
  
  /* Efecto de máquina de escrbir */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #0066ff; }
  }

  @media only screen and (max-height: 29.9375em) {
      .header {
          height: 380px;
      }
  }

  @media only screen and (max-height: 36.1875em) {
      .header {
          height: 480px;
      }
  }

  @media only screen and (max-height: 40.5625em) {
      .header {
          height: 580px;
      }
  }