  @use '../../index.scss' as v;
  @import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);

  .header {
      height: 100vh;
      position: relative;
      user-select: none;

      #shapes-mask {
          position: absolute;
          overflow: hidden;
          top: 0;
          left: 0;
          width: 100%;
          height: 100vh;
          background: v.$bg-color;
          transition: opacity 0.25s ease 0.65s;
          z-index: 20;

          svg {
              path {
                  stroke: inherit;
                  fill: none;
              }
          }

          .shapy {
              transition: transform .10s;
              opacity: 71%;
              filter: blur(1px);
          }

          .layer1 {
              position: absolute;
              z-index: 1;
          }

          .layer2 {
              position: absolute;
              z-index: 1;
          }

          .p1 {
              left: 30%;
              top: 20%;
          }

          .p2 {
              left: 90%;
              top: 70%;
          }

          .p3 {
              left: 100%;
              top: 20%;
          }

          .p4 {
              left: 70%;
              top: 20%;
          }

          .p5 {
              left: 5%;
              top: 80%;
          }

          .p6 {
              left: 2%;
              top: 20%;
          }

          .p7 {
              left: 50%;
              bottom: 2%;
          }

          .p8 {
              left: 85%;
              bottom: 4%;
          }

          .p9 {
              left: 20%;
              top: 2%;
          }

          .p10 {
              left: 10%;
              bottom: 2%;
          }

          .p11 {
              left: 90%;
              top: 2%;
          }

          .pink {
              stroke: #f06449 !important;
              fill: none;
          }

          .yellow {
              stroke: #ff0 !important;
              fill: none;
          }

          .aqua {
              stroke: aqua !important;
              fill: none;
          }
      }

      .brand {
          width: 95%;

          .main-text {
              position: absolute;
              top: 40%;
              transform: translateY(-50%);
              left: 0;
              width: 100%;
              z-index: 50;

              .content {
                  display: flex;
                  flex-direction: column;
                  flex-wrap: wrap;
                  width: fit-content;
                  padding-left: 150px;

                  .lycokat-name {
                      width: fit-content;
                      position: relative;
                      font-weight: 300;
                      font-size: 7.5rem;
                      color: v.$text-color;
                      overflow: hidden;

                      &:after {
                          content: '';
                          position: absolute;
                          bottom: 0;
                          left: 0;
                          width: 100%;
                          height: 0.05em;
                          background-color: #4F46E5;
                          opacity: 1;
                          transform: translate3d(0, 0, 0);
                          transition: opacity 300ms, transform 300ms;
                      }

                      &:hover::after {
                          opacity: 1;
                          transform: translate3d(0, 0, 0);
                      }
                  }

                  .lycokat-slogan {
                      font-family: 'Share Tech Mono';
                      user-select: none;
                      background: transparent;
                      border: none;
                      font-size: 2rem;
                      max-width: fit-content;
                      height: fit-content;
                      inline-size: 100%;
                      font-weight: 500;
                      overflow: hidden;
                      color: v.$text-color;
                      border-right: .15em solid transparent;
                      white-space: nowrap;
                      letter-spacing: .15em;
                      animation:
                          typing 3.5s steps(40, end),
                          blink-caret .75s step-end infinite;

                      &:before {
                          content: attr(data-before);
                          word-break: break-all;
                          opacity: 0.5;
                      }

                      &:after {
                          content: attr(data-after);
                          word-break: break-all;
                          opacity: 0.5;
                      }
                  }

                  .lycokat-slogan-responsive {
                      display: none;
                      content-visibility: hidden;

                      .slogan-2ndline {
                          opacity: 0;
                          visibility: hidden;
                          transition: visibility 3.5s, opacity 3.5s;
                      }
                  }
              }
          }
      }

      .logo-mask {
          position: absolute;
          overflow: visible;
          background-image: url('../../assets/img/logo.svg');
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          width: 100%;
          height: 100vh;
          top: 50%;
          transform: translateY(-50%);
          left: 50%;
          z-index: 40;
          filter: v.$svg-filter;
          animation: opacityUp 3s ease forwards;
      }
  }

  /* Efecto de máquina de escrbir */
  @keyframes typing {
      0% {
          width: 0
      }

      15% {
          width: 0;
      }

      100% {
          width: 100%;
      }
  }

  @keyframes blink-caret {

      from,
      to {
          border-color: transparent;
      }

      50% {
          border-color: #4F46E5;
      }
  }

  @keyframes make-visible {
      99% {
          visibility: hidden;
      }

      100% {
          visibility: visible;
      }
  }
  @keyframes opacityUp {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 35%;
    }
  }

  /* Responsive */
  @media screen and (max-width: 1000px) {
      .header {
          .brand {
              .main-text {
                  .content {
                      padding-left: 5%;

                      .lycokat-name {
                          font-size: 4.5rem;
                      }

                      .lycokat-slogan {
                          font-size: 1.75rem;
                      }
                  }
              }
          }
      }
  }

  @media screen and (max-width: 880px) {
      .header {
          .brand {
              .main-text {
                  .content {
                      .lycokat-name {
                          font-size: 4rem;
                      }

                      .lycokat-slogan {
                          font-size: 1.5rem;
                      }
                  }
              }
          }
      }
  }

  @media screen and (max-width: 768px) {
      .header {
          .brand {
              .main-text {
                  .content {
                      .lycokat-slogan {
                          font-size: 1.25rem;
                      }
                  }
              }
          }
      }
  }

  @media screen and (max-width: 550px) {
      .header {
          .logo-mask {
              left: -12.5%;
              width: 125%;
              transform: translateY(-50%);
              opacity: 15%;
          }

          .brand {
              .main-text {
                  .content {
                      margin: auto;
                      padding-left: 0;

                      .lycokat-name {
                          text-align: center;
                          width: 100%;
                      }

                      .lycokat-slogan {
                          display: none;
                      }

                      .lycokat-slogan-responsive {
                          display: block;
                          text-align: center;
                          content-visibility: visible;

                          .slogan-1stline {
                              font-family: 'Share Tech Mono';
                              user-select: none;
                              background: transparent;
                              border: none;
                              font-size: 1.25rem;
                              width: fit-content;
                              height: fit-content;
                              inline-size: 100%;
                              font-weight: 500;
                              overflow: hidden;
                              color: v.$text-color;
                              border-right: .15em solid transparent;
                              white-space: nowrap;
                              letter-spacing: .15em;
                              animation:
                                  typing 2s steps(40, end),
                                  blink-caret .75s step-end 4;

                              &:before {
                                  content: attr(data-before);
                                  word-break: break-all;
                                  opacity: 0.5;
                              }

                              &:after {
                                  content: attr(data-after);
                                  word-break: break-all;
                                  opacity: 0.5;
                              }
                          }

                          .slogan-2ndline {
                              font-family: 'Share Tech Mono';
                              user-select: none;
                              opacity: 0;
                              opacity: 1;
                              background: transparent;
                              border: none;
                              font-size: 1.25rem;
                              max-width: fit-content;
                              height: fit-content;
                              margin: auto;
                              inline-size: 100%;
                              font-weight: 500;
                              overflow: hidden;
                              color: v.$text-color;
                              border-right: .15em solid transparent;
                              white-space: nowrap;
                              letter-spacing: .15em;
                              animation:
                                  make-visible 0s forwards,
                                  typing 2s steps(40, end),
                                  blink-caret .75s step-end infinite;
                              visibility: hidden;
                              animation-delay: 2s;

                              &:before {
                                  content: attr(data-before);
                                  word-break: break-all;
                                  opacity: 0.5;
                              }

                              &:after {
                                  content: attr(data-after);
                                  word-break: break-all;
                                  opacity: 0.5;
                              }
                          }
                      }
                  }
              }
          }
      }
  }

  @media screen and (max-width: 300px) {
      .header {
          .brand {
              .main-text {
                  .content {
                      .lycokat-name {
                          font-size: 3rem;
                      }

                      .lycokat-slogan-responsive {
                          .slogan-1stline {
                              font-size: 1rem;
                          }

                          .slogan-2ndline {
                              font-size: 1rem;
                          }
                      }
                  }
              }
          }
      }
  }

  @media screen and (max-width: 230px) {
      .header {
          .brand {
              .main-text {
                  .content {
                      .lycokat-name {
                          font-size: 2rem;
                      }

                      .lycokat-slogan-responsive {
                          .slogan-1stline {
                              font-size: 0.85rem;
                          }

                          .slogan-2ndline {
                              font-size: 0.85rem;
                          }
                      }
                  }
              }
          }
      }
  }