section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    #LycoKat{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .LycoKatIco{
            width: 40rem;
            height: 40rem;
            background: url(./assets/LycokatLogo.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            animation: color 3s linear infinite alternate;
        }
        p{
            width: 50%;
            font-size: 1.7rem;
            color: #717D7E;
            text-align: justify;
            a{
                text-decoration: none;
                span{
                    font-size: 1.5rem;
                }
            }
        }
    }
    #AboutUs{
        .topWave{
            width: 100%;
            height: 35rem;
            transition: all 0.3s ease;
            background: url(assets/topWave.svg);
            background-repeat: no-repeat;
            background-position: top left;
            background-size: 100%;
        }
        width: 100%;
        display: flex;
        flex-direction: column;
        transition: background .3s ease;
        background-color: var(--backColor);
        margin-top: 15rem;
        #AboutUsSection{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            h1{
                color: var(--primaryColor);
                font-size: 5rem;
                margin: 0 0 0 15rem;
            }
            p{
                color: #ECF0F1;
                font-size: 2rem;
                width: 65%;
                text-align: justify;
                margin-top: 2rem;
                margin-left: calc(15rem + 3rem);
            }
        }
        #AppMobile{
            width: 100%;
            margin-top: 20rem;
            height: 70rem;
            display: grid;
            grid-template-columns: 40% 60%;
            .blob{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background: url(assets/blob2.svg);;
                background-repeat: no-repeat;
                background-size: 100%;
                z-index: 30;
                .phone{
                    position: absolute;
                    width: 50rem;
                    height: 70rem;
                    background: url(assets/phone.webp);
                    background-repeat: no-repeat;
                    background-position: top;
                    background-size: contain;
                    z-index: 20;
                    transform: skew(7deg);
                }
                .contentPhone{
                    position: absolute;
                    width: 30rem;
                    height: 63rem;
                    background: url(assets/backgroundPhone.jfif);
                    background-position: top;
                    background-size: cover;
                    transform: skew(7deg);
                    animation: slide 50s linear infinite alternate;
                }
            }
            .text{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h1{
                    color: var(--primaryColor);
                    font-size: 4.2rem;
                }
                p{
                    color: #ECF0F1;
                    font-size: 2.3rem;
                    width: 70%;
                    text-align: center;
                    margin-top: 0;
                }
                img{
                    margin-top: 3rem;
                    height: 25rem;
                    border-radius: 0.5rem;
                }
            }
        }
        .bottomWave{
            width: 100%;
            height: 25rem;
            margin-top: 10rem;
            transition: all 0.3s ease;
            background: url(assets/bottomWave.svg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center left;
        }
    }
    #Possibilities{
        width: 100%;
        height: 70vh;
        display: grid;
        grid-template-rows: 10rem 40rem 40rem;
        justify-content: center;
        h1{
            font-size: 4rem;
            text-align: center;
            color: var(--backColor);
            span{
                color: var(--primaryColor);
            }
        }
        .lineCards{
            display: grid;
            grid-template-columns: 40rem 40rem 40rem;
            margin: 2rem;
            .card{
                user-select: none;
                background-color: #ECF0F1;
                width: 28rem;
                height: 28rem;
                margin: 5rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                -webkit-box-shadow: 3px 3px 10px 7px #dddddd;
                -moz-box-shadow: 3px 3px 10px 7px #dddddd;
                box-shadow: 3px 3px 10px 7px #dddddd;
                transition: all 300ms ease;
                border-radius: 1rem;
                cursor: pointer;
                span{
                    font-size: 7rem;
                    margin: 0;
                    color: #797D7F;
                    transition: all 300ms ease;
                }
                h2{
                    font-size: 3rem;
                    color: #797D7F;
                    margin: 0;
                    transition: all 300ms ease;
                }
            }
            .card:hover{
                padding: 1rem 0 0 1rem;
                *{
                    color: var(--primaryColor);
                    margin: 0 1rem 1rem 0;
                }
            }
        }
    }
    #Sedes{
        margin-top: 65rem;
        width: 100%;
        height: 70vh;
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
        justify-content: center;
        .text{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h1{
                font-size: 3rem;
            }
            p{
                font-size: 1.75rem;
                width: 70%;
                text-align: justify;
            }
        }
        .blob{
            width: 170rem;
            height: 110rem;
            right: -80rem;
            z-index: 19;
            position: absolute;
            background: var(--backColor);
            border-radius: 50%;
            background-repeat: no-repeat;
            background-position: right center;
        }
        .map{
            display: flex;
            justify-content: right;
            padding-right: 2rem;
            z-index: 20;
            iframe{
                border-radius: 2rem;
            }
        }
        padding-bottom: 40rem;
    }
}

/* Animaciones */

@keyframes color {
    0%{
        filter: invert(10%);
    }
    100%{
        filter: invert(70%);
    }
}
@keyframes slide {
    0%{
        background-position: top;
    }
    100%{
        background-position: bottom;
    }
}

/* Modo Oscuro 😎 */

body.dark{
    color: var(--white);
    background-color: var(--dark);
    nav{
        .finalOptions{
            a{
                background-color: var(--primaryColorDark);
            }
            a:hover{
                background-color: var(--primaryColor);
            }
        }
    }
    header{
        .Header{
            background-color: var(--backColorDark);
            .text{
                h1{
                    color: var(--primaryColorDark);
                }
                p{
                    span{
                        color: var(--primaryColorDark);
                    }
                }
            }
            .img{
                img.light{
                    display: none;
                }
                img.dark{
                    display: flex;
                }
            }
            .Wave{
                transition: background .3s ease;
                background: url(./assets/headerWaveDark.png);
            }
        }
    }
    #LycoKat{
        p{
            color: var(--white);
        }
    }
    #AboutUs{
        #AboutUsSection{
            h1{
                color: var(--primaryColor);
            }
        }
        background-color: var(--backColorDark);
        .topWave{
            transition: background .3s ease;
            background: url(assets/topWaveDark.svg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center left;
        }
        .text{
            h1{
                color: var(--primaryColorDark);
            }
        }
        .bottomWave{
            transition: background .3s ease;
            background: url(assets/bottomWaveDark.svg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center left;
        }
    }
    #Possibilities{
        h1{
            color: var(--backColorDark);
            span{
                color: var(--primaryColorDark);
            }
        }
        .lineCards{
            .card{
                background-color: #414141;
                -webkit-box-shadow: 3px 3px 10px -1.5px #9d9c9c;
                -moz-box-shadow: 3px 3px 10px -1.5px #9d9c9c;
                box-shadow: 3px 3px 10px -1.5px #9d9c9c;
                cursor: pointer;
                span{
                    color: white;
                }
                h2{
                    color: white;
                }
            }
            .card:hover{
                padding: 1rem 0 0 1rem;
                *{
                    color: var(--primaryColorDark);
                    margin: 0 1rem 1rem 0;
                }
            }
        }
    }
    #Sedes{
        .blob{
            background: var(--backColorDark);
        }
    }
    footer{
        background: var(--backColorDark);
    }
}