@use '../../index' as v;

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 10rem;

    .contact-vector,
    .contact-message {
        width: 50%;
    }

    .contact-vector {
        height: 500px;
        background: url('../../assets/img/rocket.svg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .contact-card {
        display: flex;
        height: 100%;
        width: 100%;

        .form-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            opacity: 1;
            color: v.$text-sec-color;

            .contact-message,
            .form {
                width: 100%;
            }

            .contact-message {
                text-align: start;
                height: auto;

                h2 {
                    font-weight: 700;
                    color: v.$primary-color;
                }

                h5 {
                    margin-bottom: 0;
                }
            }

            .form {
                height: 75%;
                display: flex;
                flex-direction: column;

                .field-cont {
                    width: 100%;
                    margin-top: 1rem;

                    .label-cont {
                        width: 100%;
                        height: 25%;
                        padding-bottom: 0.5rem;

                        .label-form {
                            font-weight: 600;
                            text-align: start;
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .input-cont .form-input,
                    .textarea-cont .form-textarea {
                        background: transparent;
                        border-bottom: #2B2B2B50 1px solid;
                        padding-bottom: 1px;
                        padding-left: 2px;
                        user-select: auto;

                        &:focus {
                            outline: none;
                        }
                    }

                    .input-cont {
                        width: 100%;
                        height: 75%;
                        margin-top: 1rem;

                        .form-input {
                            width: 100%;
                        }
                    }

                    .textarea-cont {
                        width: 100%;
                        height: auto;

                        .form-textarea {
                            width: 100%;
                            height: 6rem;
                            scrollbar-width: thin;
                            scrollbar-color: #1c1d2575 #CCC;

                            &::-webkit-scrollbar {
                                width: 7px;
                            }

                            &::-webkit-scrollbar-thumb {
                                background-color: #1c1d2575;
                                border-radius: 10px;
                            }
                        }
                    }
                }

                .gc-reset {
                    transform: scale(0.9) !important;
                    -webkit-transform: scale(0.9) !important;
                    transform-origin: 0 0 !important;
                    -webkit-transform-origin: 0 0 !important;
                }

                .submit-button {
                    display: flex;
                    justify-content: flex-end;
                    margin-top: 2px;
                    width: 100%;

                    input {
                        width: 50%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .contact {
        flex-direction: column;

        .contact-vector,
        .contact-message {
            width: 100%;
            align-items: center !important;
        }

        .contact-vector {
            height: 350px;
        }

        .contact-message {
            text-align: center;

            span {
                width: 100%;
            }

            .contact-button {
                justify-content: center;
            }
        }
    }
}

@media screen and (min-device-width: 600px) {
    .contact-card {
        .form-container {
            scrollbar-color: #1c1d2575 #CCC;

            &::-webkit-scrollbar {
                width: 7px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #1c1d2575;
                border-radius: 10px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .contact-card {
        flex-direction: column;

        .info-container,
        .form-container {
            width: 100%;
        }

        .form-container {
            height: 75%;
            padding: 0.5rem 2rem;

            .contact-message {
                height: auto;
            }
        }
    }
}


@media screen and (max-width: 317px) {
    .contact-card {
        .form-container {
            .contact-message {
                h5 {
                    display: none;
                }
            }
        }
    }
}


@media screen and (max-height: 520px),
(max-height:600px) and (max-width: 750px) {
    .contact-card {
        .form-container {
            .contact-message {
                h5 {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .contact {
        .contact-message {
            padding: 0 0 !important;

            .contact-card {
                .form-container {
                    .form {
                        .gc-reset {
                            transform: scale(0.8) !important;
                            -webkit-transform: scale(0.8) !important;
                            transform-origin: 0 0 !important;
                            -webkit-transform-origin: 0 0 !important;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 350px) {
    .contact {
        .contact-message {
            .contact-card {
                .form-container {
                    .form {
                        .gc-reset {
                            transform: scale(0.7) !important;
                            -webkit-transform: scale(0.7) !important;
                            transform-origin: 0 0 !important;
                            -webkit-transform-origin: 0 0 !important;
                        }
                    }
                }
            }
        }
    }
}