@font-face {
    font-family: 'Ailerons';
    src: url('./assets/fonts/ailerons.otf') format'opentype';
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

$gradient-text: linear-gradient(0deg, rgba(141, 140, 140, 1) 0%, rgba(225, 218, 218, 1) 100%);
$bg-color: #1c1d25;
$nav-bg: #1C1D2590;
$footer-color : #031B34;
$about-color: #042c54;
$text-color: #F5F5F5;
$color-subtext: #0066ff;
$contact-bg: #FF482095;
$svg-filter: invert(100%) sepia(85%) saturate(83%) hue-rotate(192deg) brightness(114%) contrast(92%);