footer {
  width: 100%;
  height: max-content;
  transition: background 0.3s ease;
  background: var(--backColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  align-items: center;
  color: white;
  padding-top: 2rem;
  img {
    height: 15rem;
  }
  .iconicaFrase {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    p {
      font-size: 1.4rem;
      font-family: "Poppins-Regular";
      margin: 0;
      color: #d0d3d4;
      width: 100%;
      text-align: center;
      overflow: hidden;
      border-right: 0.15em solid var(--primaryColor);
      white-space: nowrap;
      letter-spacing: 0.15em;
      pointer-events: none;
      user-select: none;
      animation: typing 3.5s steps(40, end) infinite alternate,
        blink-caret 0.75s step-end infinite;
    }
  }
  .redes {
    width: 100%;
    display: grid;
    grid-template-columns: 7rem 7rem 7rem 7rem 7rem;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-top: 2rem;
    a {
      width: 5rem;
      height: 5rem;
      margin: 0.1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      transition: all 200ms ease;
      font-size: 3rem;
      font-size: 0;
      color: transparent;
    }
    a[title="Facebook"] {
      background: url(../../assets/img/Facebook.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
    a[title="Instagram"] {
      background: url(../../assets/img/Instagram.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
    a[tooltip="LycoKat.Co@Gmail.Com"] {
      background: url(../../assets/img/Mail.webp);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
    a[tooltip="LycoKat.Co@Gmail.Com"]:hover {
      transform: none;
    }
    a[title="LinkedIn"] {
      background: url(../../assets/img/Linkedin.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
    a[title="Twitter"] {
      background: url(../../assets/img/Twitter.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
    a:hover {
      transform: rotate(20deg);
      padding: 0.1rem;
      margin: 0;
    }
  }
  small {
    width: 100%;
    height: 2rem;
    display: flex;
    margin-top: 5rem;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    pointer-events: none;
    font-size: 1.2rem;
    padding: 0.8rem;
    user-select: none;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--primaryColor);
  }
}

/* Etiqueta */

/* START TOOLTIP STYLES */
[tooltip] {
  position: relative; /* opinion 1 */
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
  text-transform: none; /* opinion 2 */
  font-size: 1.5rem; /* opinion 3 */
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
[tooltip]::before {
  content: "";
  border: 5px solid transparent; /* opinion 4 */
  z-index: 1001; /* absurdity 1 */
}
[tooltip]::after {
  content: attr(tooltip); /* magic! */

  /* most of the rest of this is opinion */
  font-family: Helvetica, sans-serif;
  text-align: center;

  /* 
          Let the content set the size of the tooltips 
          but this will also keep them from being obnoxious
          */
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1rem 2rem;
  border-radius: 0.3ch;
  box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
  background: #333;
  color: #fff;
  z-index: 1000; /* absurdity 2 */
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

/* don't show empty tooltips */
[tooltip=""]::before,
[tooltip=""]::after {
  display: none !important;
}

/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #333;
}
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
  bottom: calc(100% + 5px);
}
[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
  left: 50%;
  transform: translate(-50%, -0.5em);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: 0.9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: 0.9;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

/* Responsive */

@media screen and (max-width: 1001px) {
  footer {
    padding-top: 5rem;
  }
}
