/* ---------------------------------- Colores ---------------------------------- */

:root{
    --color-primary: #ffc04f;
    --color-danger: #ff7782;
    --color-succes: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
    
    --color-money: #85bb65;
    --color-graph: #00aae4;
    --color-black: #1c1c1c;
    --color-menu-bluedark: #212529;

    --card-border-radius: 2rem;
    --border-radius-1: .4rem;
    --border-radius-2: .8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(var(--color-light))
}
body{
    font-family: 'nevis';
}
/* ---------------------------------- Nav ---------------------------------- */

nav{
    height: 10%;
    display: grid;
    grid-template-columns: 25rem auto 25rem;
    align-items: center;
    position: absolute;
    right: 0;
    left: 0;
    transition: all 300ms ease;
    z-index: 1000;
}
nav .top{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    margin-left: 1rem;
}
nav .top h1{
    color: var(--color-primary);
}
nav .top img{
    width: 5rem;
}
nav .links{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-items: center;
    justify-content: center;
}
nav .links .options{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease;
}
nav .links .options:hover{
    background-color: var(--color-menu-option-dark);
}
nav .links .options a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    color: var(--color-white);
}
nav .links .options:hover a{
    text-decoration: underline;
}
nav .ingresar{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
}
nav .ingresar span{
    cursor: pointer;
    font-size: 1.3rem;
    font-family: sans-serif;
    font-weight: 800;
    padding: .22rem 1rem .44rem 1rem;
    background-color: #ffd90061;
    margin-right: 1rem;
    border-radius: .2rem;
    transition: all 300ms ease;
}
nav .ingresar span:hover{
    background-color: var(--color-white);
}
nav .ingresar span a{
    color: #e3e6ea;
}
nav .ingresar span:hover a{
    color: var(--color-primary);
}
nav.active {
    position: fixed;
    background-color: var(--color-menu-bluedark);
}
nav.active .ingresar span{
    background-color: var(--color-white);
}
nav.active .ingresar span:hover{
    background-color: var(--color-primary-dark);
}
nav.active span a{
    color: var(--color-primary);
}
nav.active span:hover a{
    color: #e3e6ea;
}
  
/* ---------------------------------- Section ---------------------------------- */

main .background{
    width: 100%;
    height: 100vh;
    background: url(../img/backgroundMain.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
main .background::after{
    content: '';
    background-color: var(--color-menu-dark);
    width: 100%;
    height: 100%;
}
main .background h2{
    position: absolute;
    color: var(--color-primary);
    font-size: 4rem;
}
main .background a{
    position: absolute;
    bottom: 0;
}
main .background span{
    color: #ffffff50;
    font-size: 4rem;
}
main section{
    display: flex;
    flex-direction: column;
}
main section .about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
}
main section .about h2{
    margin: 7rem 0 0 0;
    font-size: 2rem;
}
main section .about .presentacion{
    display: grid;
    grid-template-columns: 75% auto;
    margin: 0 0 0 5rem;
}
main section .about p{
    margin: 3rem 5rem 0 10rem;
    font-size: 1rem;
}
main section .about .presentacion img{
    width: 20rem;
}
main section .about::after{
    content: '';
    width: 75%;
    height: 2px;
    background-color: rgba(110, 109, 109, 0.108);
    margin-top: 3rem;
}
main section .unete{
    margin-top: 5rem;
    padding-top: 10rem;
}
main section .unete .wallpaper{
    width: 100%;
    height: 35rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/unete.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: movimiento 10s infinite linear alternate;
   -webkit-transform: skewY(-2deg);
}
@keyframes movimiento{
    from{
        background-position: bottom left;
    }
    to {
        background-position: top right;
    }
}
main section .unete .wallpaper::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(55, 54, 55, 0.429);
}
main section .unete .wallpaper:hover::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgb(55, 54, 55, 65%);
}
main section .unete .wallpaper .registerSec{
    display: flex;
    flex-direction: column;
    position: absolute;
    -webkit-transform: skewY(2deg);
}
main section .unete .wallpaper .registerSec h1{
    color: #ffc04fcf;
    font-size: 5rem;
    margin-bottom: 5rem;
    font-family: poppins, sans-serif;
}
main section .unete .wallpaper .registerSec span{
    font-size: 2.5rem;
    background-color: #ffffff13;
    margin: 0 auto;
    margin-bottom: 5rem;
    padding: 0.6rem;
    border-radius: 0.2rem;
}
main section .unete .wallpaper .registerSec span:hover{
    background-color: #ffffff41;
}
main section .unete .wallpaper .registerSec span a{
    color: #dcdcdcc0;
}
main section .sucursal{
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
main section .sucursal h1{
    font-size: 3rem;
    margin-bottom: 2rem;
}

/* ---------------------------------- Footer ---------------------------------- */

footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25rem;
    background-color: var(--color-menu-bluedark);
    margin-top: 10rem;
    padding-top: 3rem;
}
footer .siguenos::after{
    content: '';
    width: 80%;
    height: 2px;
    background-color: #cbd3df;
    margin: 0 auto;
}
footer .siguenos{
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-items: center;
}
footer .siguenos::before{
    content: '';
    width: 80%;
    height: 2px;
    background-color: #cbd3df;
    margin: 0 auto;
}
footer .siguenos .redes{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}
footer .siguenos .redes img, footer .siguenos .redes a{
    display: flex;
    width: 3.4rem;
    height: 3.4rem;
    margin: 0 .82rem;
    border-radius: 20%;
}
footer .siguenos .redes img, footer .siguenos .redes a#facebook{
    background: url(../img/facebook.svg);
    background-position: center;
    background-size: 3.4rem;
    background-repeat: no-repeat;
}
footer .siguenos .redes img, footer .siguenos .redes a#instagram{
    background: url(../img/instagram.svg);
    background-position: center;
    background-size: 3rem;
    background-repeat: no-repeat;
}
footer .siguenos .redes img, footer .siguenos .redes a#mail{
    background: url(../img/at-sign.svg);
    background-position: center;
    background-size: 3.4rem;
    background-repeat: no-repeat;
}
footer .siguenos .redes img, footer .siguenos .redes a#linkedin{
    background: url(../img/linkedin.svg);
    background-position: center;
    background-size: 2.8rem;
    background-repeat: no-repeat;
}
footer .siguenos .redes img, footer .siguenos .redes a#twitter{
    background: url(../img/twitter.svg);
    background-position: center;
    background-size: 2.7rem;
    background-repeat: no-repeat;
}
footer .siguenos .redes a:hover::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20%;
}
footer img{
    width: 12rem;
    margin: 1rem auto;
}
footer small{
    font-size: 1rem;
    color: #cbd3df;
    margin: 0 auto;
}

/* ---------------------------------- btnTop ---------------------------------- */

.ir-arriba{
    display:none;
    position: fixed;
    cursor:pointer;
    z-index:2;
    bottom:1rem;
    right:1rem;
    background-color: var(--color-primary);
    border-radius: 50%;
}
.ir-arriba span{
    font-size:3rem;
    padding: 0 2px;
    color: var(--color-white);
}