:root {
    --white: #f0f3f4;
    --primaryColor: #f1c40f;
    --primaryColorDark: #d1ac1a;
    --backColor: #5268f2;
    --backColorDark: #3d4685;
    --dark: #1f1f1f;
    --fontBlack: #272727;
    --fontWhite: #e5e7e9;
}