main#TermsAndConditions {
  h1 {
    margin: 12rem 0 5rem 0;
    font-size: 4rem;
    text-align: center;
    span {
      color: var(--primaryColor);
    }
  }
  section.text {
    padding: 0 5rem 0 5rem;
    p {
      font-size: 1.3rem;
      text-align: justify;
    }
  }
}
