/* 

    Estilos generales para la web

*/


/* Tamaño de Fuente y Scroll Suave */

html {
    scroll-behavior: smooth;
}

/* Fuentes */

@font-face {
    font-family: Nevis;
    src: url(assets/font/nevis.ttf);
}
@font-face {
    font-family: Poppins-ExtraLight;
    src: url(assets/font/Poppins-ExtraLight.ttf);
}
@font-face {
    font-family: Poppins-Light;
    src: url(assets/font/Poppins-Light.ttf);
}
@font-face {
    font-family: Poppins-Regular;
    src: url(assets/font/Poppins-Regular.ttf);
}
@font-face {
    font-family: Poppins-Bold;
    src: url(assets/font/Poppins-Bold.ttf);
}
*{
    font-family: 'Poppins-Light';
}
small{
    font-family: 'Poppins-ExtraLight';
}
span, a{
    font-family: 'Poppins-Regular';
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Poppins-Bold';
}

/* Transicion general */

body{
    transition: all 0.3s ease;
}

/* Definó Colores */

:root{
    --white: #F0F3F4;
    --primaryColor: #F1C40F;
    --primaryColorDark: #d1ac1a;
    --backColor: #5268f2;
    --backColorDark: #3d4685;
    --dark: #1f1f1f;
    --fontBlack: #272727;
    --fontWhite: #E5E7E9;
}

/* Estilo para Scrollbar */

html, body{
    overflow: overlay;
}
* {
scrollbar-width: none;
scrollbar-color: #b3b6b7 transparent;
}
*::-webkit-scrollbar {
width: 10px;
height: 100%;
}
*::-webkit-scrollbar-track {
background: transparent;
}
*::-webkit-scrollbar-thumb {
background-color: #b3b6b7;
border-radius: 10px;
border: none;
}
*::-webkit-scrollbar-track-piece{
background-color: transparent;
color: transparent;
}

/* Responsive */

@media screen and (min-width: 320px){
    html{
        font-size: 5px;
    }
}
@media screen and (min-width: 370px){
    html{
        font-size: 5.3px;
    }
}
@media screen and (min-width: 420px){
    html{
        font-size: 6.4px;
    }
}
@media screen and (min-width: 760px){
    html{
        font-size: 8px;
    }
}
@media screen and (min-width: 1020px){
    html{
        font-size: 7px;
    }
}
@media screen and (min-width: 1430px){
    html{
        font-size: 9px;
    }
}
@media screen and (min-width: 2560px){
    html{
        font-size: 16px;
    }
}
@media screen and (min-width: 3000px){
    html{
        font-size: 20px;
    }
}
@media screen and (min-width: 4000px){
    html{
        font-size: 30px;
    }
}